@charset 'utf-8';

*{ 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}
body{
  color: #333;
}
h1{
  text-align: center;
}
form{
  margin: 1rem auto;
  width: 60%;
  /* border: 1px solid #222; */
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 1rem;
  padding: 2rem;
}
.input-group{
  margin-bottom: 2rem;
  label{ 
    display: block;
    margin: 0.5rem 0;
  }
  input{
    display: block;
    width: 100%;
    border: 1px solid #999;
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
    &:focus{
      border-color: #4A90E2;
      box-shadow: 0 0 5px rgba(74,144,226,0.5);
    }
  }
  select{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    &:focus{
      border-color: #4A90E2;
      box-shadow: 0 0 5px rgba(74,144,226,0.5);
    }
    option{
      padding: 2px;
    }
  }
}
.box-group{
  margin-bottom: 2rem;
  label{
    display: block;
    padding: 2px 0;
    .desc{
      font-size: 0.7rem;
      color: #999;
    }
  }
  textarea{
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    outline: none;
    &:focus{
      border-color: #4A90E2;
      box-shadow: 0 0 5px rgba(74,144,226,0.5);
    }
  }
}
.btn-wrap{
  display: flex;
  gap: 0.5rem;
  button{
    flex: 1;
    border: none;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    font-weight: bolder;
    transition: 0.5s;
    &:hover{
      cursor: pointer;
      filter: brightness(0.7);
    }
    &:active{
      transform: scale(0.9);
    }
  }
  button.reset{
    background-color: #F1F5F9;
    color: #64748B;
  }
  button.submit{
    background-color: #4A90E2;
    color: #fff;
  }
}